aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==26.1.0
bitarray==3.8.0
bitstring==4.4.0
chardet==7.2.0
coverage==7.13.5
flake8==7.3.0
frozenlist==1.8.0
idna==3.11
mccabe==0.7.0
multidict==6.7.1
pep8==1.7.1
propcache==0.4.1
pycodestyle==2.14.0
pyflakes==3.4.0
tibs==0.5.7
yarl==1.23.0
